.basket-list {
    margin: 5px 10px 10px 5px;
    overflow-x: hidden;

    max-height: 300px;
}

.basket-list::before {
    background-color: grey;
}

.basket-list::after {
    background-color: grey;
}

.basket-list-empty {
    color: white;
    text-align: center;
}