.popup-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.basket-container {
    width: 500px;
    margin: auto;
    background-color: gray;
}

.basket-header {
    text-align: center;
    font-family: Calibri serif;
    display: flex;
    min-height: 40px;
    background-color: darkblue;
    color: white;
}

.basket-header h2 {
    margin: auto;
}

.basket-footer {
    display: flex;
    justify-content: center;
}

.basket-close-button {
    border: 0;
    height: auto;
    width: 50px;
    background-color: darkblue;
    color: white;
}

.basket-button {
    width: 40%;
    min-height: 30px;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: snow;
    border: 0;
}

.basket-button:active {
    background-color: blanchedalmond;
}

.basket-list {
    margin: 5px 10px 10px 5px;
    overflow-x: hidden;

    max-height: 300px;
}

.basket-list::before {
    background-color: grey;
}

.basket-list::after {
    background-color: grey;
}

.basket-list-empty {
    color: white;
    text-align: center;
}

