
.header {
  background-color: antiquewhite;
}

.header h1 {
  text-align: center;

}

.navigation-menu {
  text-align: center;
}

.footer {
  background-color: antiquewhite;
  display: flex;
  text-align: center;
  gap: 25px;
  margin-top: 15px;
  justify-content: center;
}

