
<app-cart *ngIf="cartOpened" (closeCart)="this.manageCartState(false)"></app-cart>

<header class="header">
  <h1>Магазин компьютерных комплектующих</h1>
</header>

<div class="navigation-menu">
  <a routerLink="/catalog">Каталог товаров</a>
  <button id="basket-open-button" type="button" (click)="this.manageCartState(true)" class="cart-open-button">
    Корзина
    <img src="assets/cart-icon.png" class="cart-icon" alt="img">
  </button>
</div>

<router-outlet></router-outlet>

<footer class="footer">
  <a href="">О нас</a>
  <a href="">Связаться с нами</a>
</footer>

