<div class="cart-item">
    <div class="cart-item-name">{{product?.name}}</div>
    <div class="cart-item-count-box">
        <button class="cart-item-count-button"
                (click)="this.decreaseAmount()">-</button>
        <div class="cart-item-count">{{product?.amount}}</div>
        <button class="cart-item-count-button"
                (click)="this.increaseAmount()">+</button>
    </div>
    <div class="cart-item-price">
        {{(product?.amount ?? INVALID_PRODUCT_PRICE) * (product?.price ?? INVALID_PRODUCT_AMOUNT)}} RUB
    </div>
    <div>
        <button (click)="this.removeProduct()">
            Удалить
        </button>
    </div>
</div>