<div class="cart-item">
    <div class="cart-item-name">{{product?.name}}</div>
    <div class="cart-item-count-box">
        <button class="cart-item-count-button"
                (click)="this.cartService.changeProductAmount(this.product, -1)">-</button>
        <div class="cart-item-count">{{product?.amount}}</div>
        <button class="cart-item-count-button"
                (click)="this.cartService.changeProductAmount(this.product, 1)">+</button>
    </div>
    <div class="cart-item-price">
        {{(product?.amount ?? 1) * (product?.price ?? 1)}} RUB
    </div>
    <div>
        <button (click)="this.cartService.removeProduct(product)">
            Удалить
        </button>
    </div>
</div>